/* Reset some default styles for better consistency */
body, h1, h2, p, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* General styling for the posts page */
header {
    background-color: #3399ff; /* Màu xanh (hoặc màu xanh lá cây) */
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 1.2em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

#posts {
    max-width: 800px;
    margin: 20px auto;
}

.post {
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.post-content {
    padding: 20px;
}

.post h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.post p {
    color: #666;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 10px;
}

.post a {
    color: #3399ff;
    text-decoration: none;
    font-weight: bold;
}

.post a:hover {
    text-decoration: underline;
}
