/* Reset some default styles for better consistency */
body, h1, h2, p, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* General styling for the post page */
header {
    background-color: #2196F3; /* Màu xanh da trời */
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 1.2em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

.post-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #E3F2FD; /* Màu nền xanh nhạt */
}

.post-content h1 {
    color: #1565C0; /* Màu xanh đậm */
    margin-bottom: 10px;
}

.post-content .post-meta {
    color: #1976D2; /* Màu xanh nhạt */
    font-size: 0.8em;
    margin-bottom: 20px;
}

.post-content img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.post-content p {
    color: #333;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.back-link {
    color: #1565C0; /* Màu xanh đậm */
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

.back-link:hover {
    text-decoration: underline;
}